.reviews__header {
  text-align: center; }
  .reviews__header span {
    color: #708cbb; }

.reviews__carousel-item {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 80px;
  border-right: 1px solid #dddddd; }

@media (max-width: 1365px) {
  .reviews__carousel-item {
    padding: 0 10px; } }

@media (max-width: 1599px) {
  .reviews__carousel-item {
    padding: 0 30px; } }

.reviews__carousel-question-block {
  border-bottom: 1px solid #dddddd;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px; }

.reviews__carousel-question-col {
  padding-left: 0;
  padding-right: 0; }

.reviews__carousel-client-name {
  font-size: 18px; }

.reviews__carousel-client-time {
  color: #8f8f8f;
  font-weight: 300; }

.reviews__carousel-client-review {
  font-style: italic; }

.reviews__carousel-question {
  color: #8f8f8f; }

.reviews__carousel-client-question {
  margin-bottom: 15px; }

.reviews__carousel-psyhologist-block {
  padding-top: 15px;
  padding-bottom: 15px; }

.reviews__carousel-psyhologist-img {
  width: 45px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.reviews__carousel-psyhologist-name-p {
  margin-bottom: 0; }

.reviews__carousel-psyhologist-name {
  color: #cc3399; }
  .reviews__carousel-psyhologist-name:hover {
    color: #cc3399; }

.reviews__carousel-psyhologist-position {
  color: #606060; }

.reviews__carousel-psyhologist-exp {
  margin-bottom: 0; }

.reviews__carousel-psyhologist-rating {
  margin-bottom: 10px; }
  .reviews__carousel-psyhologist-rating span {
    font-size: 15px;
    color: #ffd961; }
