.statistics
    background-color: #d6dae0
    padding-top: 30px
    .statistics__img
        width: 100%
.statistics__col_without-right-padding
    padding-right: 0
    padding-left: 0

.statistics__get-cons-text
    .statistics__get-cons-header
        font-size: 24px
        color: #000000
    .statistics__get-cons-descrip 
        font-size: 16px
        font-style: italic

.statistics__get-cons-form
    fieldset
        font-style: italic
        color: #000000
    textarea
        width: 100%
        &::placeholder
            font-style: italic
            text-align: left    